*{
    box-sizing: border-box;
}
body{
    background: white;
}

.row{
    
    margin: auto;
    border-style: solid;
    border-color: aliceblue;
    height: 630px;
    width: 800px;
    background-color: rgba(100, 149, 178, 0.936);
    border-radius: 20px;
    overflow: auto;
   

}
.input{
   height: 60px;
   width: 500px;
   border-radius: 12px;
   border-color: aliceblue;
   text-align: left ;
   top: 600px;
    left: 500px;
    position: fixed;

}
#send-button{
    height: 40px;
   width: 100px;
   color:white;
   border-radius: 12px;
   background-color: rgb(174, 206, 10);
   justify-content: space-between;
   top: 609px;
    left: 1020px;
    position: fixed;
}

.uesrquestion{
    
    width: 50px;
    border-radius: 12px;
    position: absolute;
    top: 550px;
    left:505px;
    width: 200px;
    height: 30px;
    background-color: rgb(35, 85, 35);
}
.response{
  
    width: 50px;
    border-radius: 12px;
    position: absolute;
    top: 520px;
    left:800px;
    width: 200px;
    height: 30px;
    background-color: rgb(8, 70, 83);
}


